@model Tuto.UI.Models.ShowEntryViewModel
@{
    ViewData["Title"] = Model.Title;
}
<div class="row">

    <div class="col-md-9">
            <h2>@Model.Title</h2>
            <p>@Html.DisplayNameFor(x => Model.LastRevisionAt) @Html.DisplayFor(x => Model.LastRevisionAt) | @Html.DisplayNameFor(x => Model.CategoryTitle) @Model.CategoryTitle</p>
            <p>@Html.Raw(@Model.Content)</p>
    </div>
    <div class="col-md-3">
        @Html.Partial("_LinksPartial", Model.Links)
        <hr />
        @foreach (var item in Model.Categories)
        {
            @item.Title
            <ul>
                @foreach (var entry in item.Entires)
                {
                    <li><a asp-controller="library" asp-action="showentry" asp-route-id="@entry.Id">@entry.Title</a> </li>
                }
            </ul>
        }
    </div>
   
</div>

