@model Tuto.UI.Models.Library.ShowEntryModel
@{
    ViewData["Title"] = Model.Title;
}
<div class="row">
    <div class="col-md-10">
            <h2>@Model.Title</h2>
            <p>@Html.DisplayNameFor(x => Model.LastRevisionAt) @Html.DisplayFor(x => Model.LastRevisionAt) | @Html.DisplayNameFor(x => Model.CategoryTitle) @Model.CategoryTitle</p>
            <p>@Model.Content</p>
    </div>
    <div class="col-md-2">
        @Html.Partial("_LinksPartial", Model.Links)
    </div>
</div>

