@model Tuto.UI.Models.Library.ShowEntryModel
@{
    ViewData["Title"] = "Entry";
}

<h2>@Model.Title</h2>
<p>@Html.DisplayNameFor(x => Model.LastRevisionAt) @Model.LastRevisionAt | @Html.DisplayNameFor(x => Model.CategoryTitle) @Model.CategoryTitle</p>
<p>@Model.Content</p>

