@model  Tuto.UI.Models.Home.HomePageModel
@{
    ViewData["Title"] = Model.HomePageTitle + " - " + Model.WebSiteTitle;
    ViewData["SeoDescription"] = Model.SeoDescription;
    ViewData["GoogleAnalyticsCode"] = Model.GoogleCode;
}
<div class="row">
    <div class="col-md-9">
        <h1>@Model.HomePageTitle</h1>
        @Html.Raw(Model.Description)

        @foreach (var item in Model.Categories)
        {
            <h4>@item.Title</h4>
            <p>Części: @item.EntriesCounter</p>
            <ol class="list-unstyled">
                @foreach (var entry in item.Entires)
                {
                    <li><a asp-controller="library" asp-action="showentry" asp-route-id="@entry.Id">@entry.Title</a></li>
                }
            </ol>
        }
    </div>

    <div class="col-md-3">
        @Html.Partial("_LinksPartial", Model.Links)
        <hr />

    </div>
</div>




